body {
    background-color: rgba(255, 255, 255, 0.537);
    }
    h1 {
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 60, 60)
    background-color: rgba(255, 255, 255, 0.71);
    }
    h2 {
        padding: 8px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(87, 60, 60)
        background-color: rgba(255, 255, 255, 0.71);
        }
    p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.559);
    text-align: left;
    }